@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Signika:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: "Signika", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

html {
  font-size: 72.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #1d1d1d;
  background-color: #33363b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #b6b6b6;
}

.active,
.nav-link:hover {
  color: #ffffff;
}

.nav-logo {
  font-family: "Pacifico", sans-serif;
  font-size: 3.1rem !important;
  color: white !important;
  font-weight: 700;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.3rem;
  border: none;
  outline: none;
  color: #b6b6b6;
  /* padding: ; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 2px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6.5px;
}

.dropdown-content a {
  float: none;
  color: black;
  font-size: 13px;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.btn-link {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  color: red;
  cursor: pointer;
}

.btn-link:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

#date {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6.8rem;
    flex-direction: column;
    background-color: #2a2e38ec;
    color: white;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* Inside the Media Query. */

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

#home-body {
  background: linear-gradient(45deg, rgb(224, 84, 84), rgb(252, 122, 143), rgb(245, 192, 112));
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.mysearchbar {
  text-align: center;
  padding-top: 100px;
}


.searchBox {
  width: 25%;
  padding: 9px;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.searchRight {
  background-color: transparent;
  width: 100px;
  padding: 9px;
  font-weight: 400;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #ffffffc2;
  color: white;
  cursor: pointer;
}

.searchRight:hover {
  background-color: #ffffff;
  color: black;
}

.add-btn {
  background: rgb(67, 68, 67);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  transition: ease all 0.3s;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.add-btn:hover {
  background: rgb(12, 12, 12)
}




/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(185, 185, 185, 0.849);
  box-sizing: border-box;
}

/* Set a style for all buttons */
.modal_btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal_btn:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.closebtn,
.createbtn,
.deletebtn,
.editbtn {
  color: white;
  width: auto;
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Extra styles for the cancel button */

.closebtn {
  background-color: rgb(121, 121, 121);
}

.createbtn {
  background-color: #07b641d5;
}

.deletebtn {
  background-color: #eb3131d5;
}

.editbtn {
  background-color: #2663e7d5;
}

.closebtn:hover {
  background-color: rgb(59, 59, 59);
}

.createbtn:hover {
  background-color: #057c2d;
}

.likebtn {
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: 3px solid rgb(255, 67, 67);
  font-weight: bold;
  text-align: left;
  color: rgb(255, 67, 67);
}
.likebtn:hover, .likebtn-liked {
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  cursor: pointer;
}
.likebtn:active {
  color: whitesmoke;
  background-color: rgb(219, 43, 43);
}

/* Center the image and position the close button */
.iconcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal_container {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-size: 17px;
}

.modal_container2 {
  padding-left: 80px;
  flex-wrap: wrap;
  display: flex;
  display: grid;
  height: 60%;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-gap: 2px;
  padding: 2px;
}

.modal_container2>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 9px 0;
  font-size: 25px;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 7px;
  width: 49%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(92, 92, 92);
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
  .modal-content {
    width: 79%;
  }

  .closebtn,
  .createbtn {
    width: 100%;
  }
}



/* Create-recipe */
#recipe-photo {
  display: none;
}

#recipe-photo-click {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

#recipe-photo-click:hover {
  background-color: black;
  cursor: pointer;
}

#previewCon {
  border: 2px solid rgb(133, 133, 133);
  border-style: dashed;
  width: 150px;
  height: 100px;
}

#img-preview {
  display: none;
  border-radius: 10px;
}

.label-post {
  font-size: 1.5rem;
  font-weight: 600;
}

#dish-desc {
  height: 100px;
  resize: none;
}

.no-hspan {
  resize: vertical;
}

.form-control {
  width: 89%;
  height: auto;
  min-height: 120px;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: 1px solid rgb(216, 216, 216);
}

.upload-title {
  font-family: 'Alfa Slab One', cursive;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 2.1rem;
  user-select: none;
}

.card_ {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 300px;
  margin-left: 40px;
  text-align: left;
  font-family: arial;
  border-radius: 19px 19px 22px 22px;
  /* border: 1px solid thistle; */
  background-color: whitesmoke;
}

.card_ img {
  border-radius: 19px 19px 0 0;
}

.card_title {
  color: grey;
  font-size: 14px;
}

.card_btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: rgb(146, 146, 146);
  background-color: rgb(236, 236, 236);
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  border-radius: 0 0 22px 22px;
}

.card_:hover {
  opacity: 0.79;
}

.card_contents {
  padding: 19px;
  background-color: #ffffff;
  min-height: 90px;
  height: auto;
}

#recipe-cards {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 120px;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

.update-ta {
  resize: vertical;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.modal-btn {
  display: inline-block;
}



/* Browse */
#browse-body {
  background: linear-gradient(45deg, rgb(84, 24, 163), rgb(224, 84, 84), rgb(252, 122, 143));
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}